astroid
certifi
cffi
charset-normalizer
colorama
cryptography
defusedxml
dill
distlib
django
django-allauth
django-crispy-forms
filelock
flake8
idna
isort
lazy-object-proxy
mccabe
mysqlclient
oauthlib
Pillow
pip
platformdirs
pycodestyle 
pycparser
pyflakes
PyJWT
pylint
pylint-django
pylint-plugin-utils
PyMySQL
python3-openid
pytz
requests
requests-oauthlib
setuptools
sqlparse
tomlkit
urllib3
virtualenv
wrapt